@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(230, 81, 0, 0.4);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(230, 81, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(230, 81, 0, 0);
    }
}

.fire-pulse {
    animation: pulse 1.5s ease-in-out infinite;
}