/* frontend/src/styles/IndicadorMetric.css */

.indicador-metric {
  position: relative;
  padding: 0.45rem;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.indicador-blue {
  background: linear-gradient(146deg, #09139b, #057db8db);
}

.indicador-red {
  background: linear-gradient(146deg, #c00e31, #e4702ce8);
}

.indicador-titulo {
  font-size: 0.95rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  color: #7fff00f2;
}

.indicador-valor {
  font-size: 1.35rem;
  margin-top: 2px;
}

.indicador-imagem {
  position: absolute;
  top: 12px;
  bottom: 5px;
  right: 5px;
  width: 40px;
  /* Largura fixa */
  height: 40px;
  /* Altura fixa */
}

.loader {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-top: 2px solid #f87171;
  /* vermelho suave */
  border-radius: 50%;
  animation: spin 3.7s linear infinite;
  vertical-align: middle;
  margin-right: 0px;
  margin-bottom: 0px;
}

.loader-grande {
  width: 1.8rem;
  height: 1.8rem;
  border-width: 3px;
  animation-duration: 1.2s; /* mais rápido que os 3.7s padrão */
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-height: 700px) {
  .indicador-metric {
    padding: 0.2rem;
  }

  .indicador-titulo {
    -webkit-line-clamp: 1;
    /* Apenas 1 linha em telas pequenas */
    font-size: 0.8rem;
  }

  .indicador-valor {
    font-size: 1.1rem;
  }
}

@media (max-height: 500px) {
  .indicador-imagem {
    display: none;
    /* Remove imagem em telas muito curtas */
  }
}