/* frontend/src/App.css */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Bloqueia scroll global */
}

#root {
  display: contents;
  /* Remove camada extra */
}

